body {
  font-family: sans-serif;
  width: 300px;
}

h1 {
  font-size: 16px;
  text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}